
/* ----------------------------------------------- */
/* ALLGEMEIN*/
/* ----------------------------------------------- */

* {
    font-family: 'Lato', sans-serif;
}

body {
    padding: 0px 50px;
}

img {
    width: inherit;
}

div {
    text-align: justify;
}

h1 {
    margin-top: 60px;
}

/* ----------------------------------------------- */
/* HOME */
/* ----------------------------------------------- */

.display-4 {
    text-align: left;
}

h1 span {
    background-color: #FFC312;
}

.lead {
    color: whitesmoke;
    font-weight: bold;
    font-size: 1.5em;
}

.lead > span {
    background-color: black;
}

.jumbotron {
    background-image: url("../img/pexels-photo-257930.jpeg");
}

.btn-secondary {
    padding: 10px 30px;
    color: #fff;
    font-size: 1.5em;

    background-color: #6c757d;
    border-color: #6c757d
}

.btn-secondary:hover {
    padding: 10px 30px;
    background-color: transparent;
    border-color: transparent;
    color: black;
    font-weight: bold;
}


/* ----------------------------------------------- */
/* NAVBAR */
/* ----------------------------------------------- */

.navbar-collapse {
    justify-content: flex-end;
}

button {
    margin: 6px;
}

p {
    margin: 6px;
}

/* ----------------------------------------------- */
/* LOGIN */
/* ----------------------------------------------- */

.card{

    background-color: rgba(0,0,0,0.5)
}

.social_icon span a{
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
}
.social_icon span:hover a{
    color: white;
    cursor: pointer;
}
.social_icon{
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span{
    width: 50px;
    background-color: #FFC312;
    color: black;
    border:0;
}

textarea{
    width: 80%;
    resize: none;
    overflow: hidden;
    min-height: 20px;
}

.containerlogin, .containerComment, .containerBeitrag{
    margin-top: 180px;
    color: whitesmoke;

}

.signupLink, .commentColour, .beitragFarbe{
    color: #FFC312;
}

/* ----------------------------------------------- */
/* BLOG */
/* ----------------------------------------------- */

.blogPost {
    justify-content: flex-start;
    width:75%;
    /*color: #005cbf;*/
    padding-bottom: 15px;
}
.material-icons icon {
    margin-top: 10px;
}

li.nav-item {
    justify-content: center;
    align-content: center;
    color:red;
}

.col-md-4 {
    margin-top: 28px;
}

h2, .commentLink{
    color: #FFC312;
}

/* ----------------------------------------------- */
/* ADMIN PAGE */
/* -------------------------------------------*/

.adminSeite {
    background-image: url("../img/pexels-photo-1036808.jpeg");
}

.table-light {
    float: left;
}

.adminFarbe {
    color: #FFC312;
}