<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Erweitert das Textfeld automatisch-->
    <script>
        function auto_grow(element) {
            element.style.height = "5px";
            element.style.height = (element.scrollHeight) + "px";
        }
    </script>

    <title>Erstelle Beitrag</title>
</head>
<body>

<!--Hier: Navbar-->
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <!--Name wenn eingeloggt und Admin Status wenn geg-->
    <span class="menu">
        <div th:if="${currentUser != null}">
            <p>Hi
        <th:block th:text="${currentUser.name}"></th:block>
                ! - You are logged in.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a th:if="${currentUser.isAdministrator()}">
                    Status: administrator</a>
            </p>
    </div>
    </span>

    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/"><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Back to Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/blog">Back to Blog
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signup">Signup
                </a>
            </li>

            <li class="nav-item">
                <div th:if="${currentUser == null}">
                    <a class="nav-link" href="/login">Login
                    </a>
                </div>
            </li>

            <li class="nav-item">
                <div th:if="${currentUser != null}">
                    <form th:action="@{/logoutToHome}" method="post">
                        <button type="submit">Logout</button>
                    </form>
                </div>
            </li>
        </ul>
    </div>
</nav>

<style th:inline="text">
    body {
        background: url([[@{/img/pexels-photo-373076-large.jpeg}]]) no-repeat center center fixed;
    }
</style>
<br>

<!--Hier: Erstelle einen neuen Beitrag-->
<div class="containerBeitrag">
    <form th:action="@{/beitrag}" th:object="${beitrag}" method="post">
        <div class="d-flex justify-content-center">
            <div class="card w-75 border-primary">
                <div class="card-header">
                    <h3 class="beitragFarbe">You can write your Blog Entry</h3>
                </div>

                <div class="card-body">
                    <form>
                        <p>Beitrag Überschrift: <input type="text" th:field="*{ueberschrift}" class="form-control" placeholder="Topic">
                        </p><br/>
                        <p>Blog entry: </p>
                        <div class="input-group" >
                                <textarea class="form-control"  th:field="*{text}" placeholder="Write your text" onkeyup="auto_grow(this)"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn float-right login_btn" style="margin-top: 10px;">
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </form>
</div>


<br>

</body>
</html>