<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Name Administrator</title>
</head>

<!--Hier: Navbar-->
<body class="adminSeite">
<nav class="navbar fixed-top navbar-expand-xl navbar-light bg-light">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggl   er-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/"><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Back to Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/blog">Back to Blog
                </a>
            </li>

            <li class="nav-item">
                <div th:if="${currentUser == null}">
                    <a class="nav-link" href="/login">Login</a>
                </div>
            </li>
            <li class="nav-item">
                <div th:if="${currentUser != null}">
                    <form th:action="@{/logoutToHome}" method="post">
                        <button type="submit">Logout</button>
                    </form>
                </div>
            </li>
        </ul>
    </div>
</nav>

<!--Hier: Benutzer/Admin Status aendern-->
<div class="container">
    <br>
    <h1 class="adminFarbe">Here your amigos can be as cool as you:</h1>
    <br>
    <h3>User Table and Status</h3><br>
    <div class="row col-md-6 table-light">
        <table id="userTable" class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Admin: true / false</th>
                <th>Add to admin</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user, rowStat: ${users}">

                <td th:text="${user.getName()}"></td>
                <td th:text="${user.isAdministrator()}"></td>
                <td th:if="${user.isAdministrator() != true}">
                    <form th:action="@{/nameToAdmin/(userId=${user.id})}" method="post">
                        <div th:if="${user.isAdministrator() != true}">
                            <button type="submit">Turn to admin</button>
                        </div>
                    </form>
                </td>
                <td th:if="${user.isAdministrator() == true}">
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>